In [1]:
#dependencies, import pandas
import pandas as pd

In [2]:
#load csv files and assign to a variable
school_data_csv = "Resources/schools_complete.csv"

student_data_csv = "Resources/students_complete.csv"

In [3]:
#read school csv files and store into pandas df, check 1st 5 rows
school_df = pd.read_csv(school_data_csv)
school_df.tail()

    School ID            school_name      type  size   budget
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
#read student csv files and store into pandas df, check 1st 5 rows
student_df = pd.read_csv(student_data_csv)
student_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
#merge data frames on like columns prior to analysis using left merge and "school_name"
school_data_merge = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_merge.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
#calculate the total number of schools
count_schools = school_df["school_name"].count()
count_schools

15

In [7]:
#calculate/add to a variable- the total number of students,then display the answer to check 
#(note: could have used the non-merged df)
count_students = school_data_merge["student_name"].count()
count_students

39170

In [8]:
#calculate/add to a variable- the total budget, then display the answer to check
total_budget = school_df["budget"].sum()
total_budget

24649428

In [9]:
#calculate the average math, then display the answer to check
average_math = school_data_merge["math_score"].mean()
average_math

78.98537145774827

In [10]:
#calculate the reading score, then display the answer to check
average_reading = school_data_merge["reading_score"].mean()
average_reading

81.87784018381414

In [11]:
#percentage of students with passing math score (70 or greater), create new variables to be called later
#variable count_students, can be used to calculate ave

pass_math_count = school_data_merge[(school_data_merge["math_score"] >= 70)].count()["student_name"]
pass_math_count
pass_math_percent = pass_math_count / float(count_students) * 100
pass_math_percent

74.9808526933878

In [12]:
#percentage of students with passing reading score (70 or greater), create new variables to be called later
#variable count_students, can be used to calculate ave

pass_reading_count = school_data_merge[(school_data_merge["reading_score"] >= 70)].count()["student_name"]
pass_reading_count
pass_reading_percent = pass_reading_count / float(count_students) * 100
pass_reading_percent

85.80546336482001

In [13]:
overall_pass_count = school_data_merge[(school_data_merge["math_score"] >= 70) 
                                                  & (school_data_merge["reading_score"] >= 70)].count()["student_name"]

In [14]:
print(overall_pass_count)

25528

In [15]:
overall_pass_percent = overall_pass_count /  float(count_students) * 100

In [16]:
print(overall_pass_percent)

65.17232575950983

In [17]:
#calculate the percentage of students who passed both math AND reading ##need to check these ##

#overall_pass_count = pass_math_count & pass_reading_count
#overall_pass_count = pass_math_count + pass_reading_count
#print(overall_pass_count)

#overall_pass_percent = overall_pass_count / float(count_students) * 100
#print(overall_pass_percent)

In [18]:
#create a df to hold above results
district_summary_df = pd.DataFrame({
    "Total Schools": [count_schools],
    "Total Students": [count_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Math": [pass_math_percent],
    "% Passing Reading": [pass_reading_percent],
    "% Overall Passing": [overall_pass_percent]
})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [19]:
# Determine the School Type using the original school csv
school_types = school_df.set_index(["school_name"])["type"]

In [20]:
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [21]:
# Calculate the total student count per school
group_students = school_data_merge["school_name"].value_counts()

In [22]:
#grab the data which uses groupby name to summarize totals in students
#group_students = school_data_merge.groupby(["school_name"])["Student ID"].count()

#show new grouped df
group_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [23]:
# Calculate the total school budget 
# per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
budget_total = school_data_merge.groupby(["school_name"]).mean()["budget"]

In [24]:
#grab the data which uses groupby name to summarize total budget
#budget_total = school_data_merge.groupby(["school_name"])["budget"].max()

#show new grouped df
budget_total

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [25]:
#create a series which shows the groupby with the budget by student for each school
budget_per_stu = budget_total / group_students
budget_per_stu

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [26]:
#create a series which uses groupby name to get count of passing math to use to create the % 

high_score = school_data_merge.loc[school_data_merge["math_score"]>= 70]
count_pass_math = high_score.groupby(["school_name"])["math_score"].count()
count_pass_math

#percent passing math created using the variables created above and a calculation
per_passing_math = (count_pass_math / group_students) * 100
per_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [27]:
#create a series which uses groupby name to get count of passing reading to use to create the % 

high_read_score = school_data_merge.loc[school_data_merge["reading_score"]>= 70]
count_pass_read = high_read_score.groupby(["school_name"])["reading_score"].count()
count_pass_read

#percent passing math created using the variables created above and a calculation
per_passing_read = (count_pass_read / group_students) * 100
per_passing_read

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [28]:
#create a series which uses groupby name to get % passing math AND reading (need to check these ##)
# dist_overall_count = ( count_pass_read & count_pass_math )
# dist_overall_count

# dist_pass_per = (dist_overall_count / group_students) * 100
# dist_pass_per

Bailey High School       66.318328
Cabrera High School      82.723358
Figueroa High School      8.952187
Ford High School          2.774735
Griffin High School      88.419619
Hernandez High School    66.364617
Holden High School       92.505855
Huang High School        11.107302
Johnson High School      64.713296
Pena High School         94.178794
Rodriguez High School    51.412853
Shelton High School      88.131743
Thomas High School       65.871560
Wilson High School       90.932983
Wright High School       92.444444
dtype: float64

In [33]:
# Get the the students who passed both reading and math in a separate DataFrame.
dist_overall_count = school_data_merge[(school_data_merge["reading_score"] >= 70)
                                               & (school_data_merge["math_score"] >= 70)]

dist_pass_per = dist_overall_count.groupby(["school_name"]).count()["student_name"] / group_students * 100
dist_pass_per

NameError: name 'district_pass_per' is not defined

In [30]:
#create a df to hold the final results 
School_summary_df = pd.DataFrame({
    "School Type": school_types,
    #"Type": ["type"],
    "Total Students": group_students,
    "Total School Budget": budget_total,
    "Per Student Budget": budget_per_stu,
    "% Passing Math": per_passing_math,
    "% Passing Reading": per_passing_read,
    "% Overall Passing": dist_pass_per
})

School_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,66.680064,81.933280,66.318328
Cabrera High School,Charter,1858,1081356.0,582.0,94.133477,97.039828,82.723358
Figueroa High School,District,2949,1884411.0,639.0,65.988471,80.739234,8.952187
Ford High School,District,2739,1763916.0,644.0,68.309602,79.299014,2.774735
Griffin High School,Charter,1468,917500.0,625.0,93.392371,97.138965,88.419619
Hernandez High School,District,4635,3022020.0,652.0,66.752967,80.862999,66.364617
Holden High School,Charter,427,248087.0,581.0,92.505855,96.252927,92.505855
Huang High School,District,2917,1910635.0,655.0,65.683922,81.316421,11.107302
Johnson High School,District,4761,3094650.0,650.0,66.057551,81.222432,64.713296
Pena High School,Charter,962,585858.0,609.0,94.594595,95.945946,94.178794
Rodriguez High School,District,3999,2547363.0,637.0,66.366592,80.220055,51.412853
Shelton High School,Charter,1761,1056600.0,600.0,93.867121,95.854628,88.131743
Thomas High School,Charter,1635,1043130.0,638.0,93.272171,97.308869,65.871560
Wilson High School,Charter,2283,1319574.0,578.0,93.867718,96.539641,90.932983
Wright High School,Charter,1800,1049400.0,583.0,93.333333,96.611111,92.444444

In [29]:
#create a df to hold the final results 
# School_summary_df = pd.DataFrame({
#     "School Name": school_types,
#     "Type": ["type"],
#     "Total Students": [group_students],
#     "Total School Budget": [budget_total],
#     "Per Student Budget": [budget_per_stu],
#     "% Passing Math": [per_passing_math],
#     "% Passing Reading": [per_passing_read],
#     "% Overall Passing": [dist_pass_per]
# })

# School_summary_df

ValueError: array length 1 does not match index length 15

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
group_students.index

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type