In [28]:
#dependencies, import pandas
import pandas as pd

In [29]:
#load csv files and assign to a variable
school_data_csv = "Resources/schools_complete.csv"

student_data_csv = "Resources/students_complete.csv"

In [30]:
#read school csv files and store into pandas df, check 1st 5 rows
school_df = pd.read_csv(school_data_csv)
school_df.tail()

    School ID            school_name      type  size   budget
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [31]:
#read student csv files and store into pandas df, check 1st 5 rows
student_df = pd.read_csv(student_data_csv)
student_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [32]:
#merge data frames on like columns prior to analysis using left merge and "school_name"
school_data_merge = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_merge.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [33]:
#calculate the total number of schools
count_schools = school_df["school_name"].count()
count_schools

15

In [34]:
#calculate/add to a variable- the total number of students,then display the answer to check 
#(note: could have used the non-merged df)
count_students = school_data_merge["student_name"].count()
count_students

39170

In [35]:
#calculate/add to a variable- the total budget, then display the answer to check
total_budget = school_df["budget"].sum()
total_budget

24649428

In [36]:
#calculate the average math, then display the answer to check
average_math = school_data_merge["math_score"].mean()
average_math

78.98537145774827

In [37]:
#calculate the reading score, then display the answer to check
average_reading = school_data_merge["reading_score"].mean()
average_reading

81.87784018381414

In [38]:
#percentage of students with passing math score (70 or greater), create new variables to be called later
#variable count_students, can be used to calculate ave

pass_math_count = school_data_merge[(school_data_merge["math_score"] >= 70)].count()["student_name"]
pass_math_count
pass_math_percent = pass_math_count / float(count_students) * 100
pass_math_percent

74.9808526933878

In [39]:
#percentage of students with passing reading score (70 or greater), create new variables to be called later
#variable count_students, can be used to calculate ave

pass_reading_count = school_data_merge[(school_data_merge["reading_score"] >= 70)].count()["student_name"]
pass_reading_count
pass_reading_percent = pass_reading_count / float(count_students) * 100
pass_reading_percent

85.80546336482001

In [40]:
#calculate the percentage of students who passed both math AND reading ##need to check these ##

overall_pass_count = pass_math_count & pass_reading_count
overall_pass_count

overall_pass_percent = overall_pass_count / float(count_students) * 100
overall_pass_percent

1.3326525402093439

In [41]:
#create a df to hold above results
district_summary_df = pd.DataFrame({
    "Total Schools": [count_schools],
    "Total Students": [count_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Math": [pass_math_percent],
    "% Passing Reading": [pass_reading_percent],
    "% Overall Passing": [overall_pass_percent]
})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,1.332653

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [42]:
#grab the data which uses groupby name to summarize totals in students
group_students = school_data_merge.groupby(["school_name"])["Student ID"].count()

#show new grouped df
group_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [43]:
#grab the data which uses groupby name to summarize total budget
budget_total = school_data_merge.groupby(["school_name"])["budget"].max()

#show new grouped df
budget_total

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [44]:
#create a series which shows the groupby with the budget by student for each school
budget_per_stu = budget_total / group_students
budget_per_stu

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [45]:
#create a series which uses groupby name to get count of passing math to use to create the % 

high_score = school_data_merge.loc[school_data_merge["math_score"]>= 70]
count_pass_math = high_score.groupby(["school_name"])["math_score"].count()
count_pass_math

#percent passing math created using the variables created above and a calculation
per_passing_math = (count_pass_math / group_students) * 100
per_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [46]:
#create a series which uses groupby name to get count of passing reading to use to create the % 

high_read_score = school_data_merge.loc[school_data_merge["reading_score"]>= 70]
count_pass_read = high_read_score.groupby(["school_name"])["reading_score"].count()
count_pass_read

#percent passing math created using the variables created above and a calculation
per_passing_read = (count_pass_read / group_students) * 100
per_passing_read

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [47]:
#create a series which uses groupby name to get % passing math AND reading (need to check these ##)
dist_overall_count = ( count_pass_read & count_pass_math )
dist_overall_count

dist_pass_per = (dist_overall_count / group_students) * 100
dist_pass_per

school_name
Bailey High School       66.318328
Cabrera High School      82.723358
Figueroa High School      8.952187
Ford High School          2.774735
Griffin High School      88.419619
Hernandez High School    66.364617
Holden High School       92.505855
Huang High School        11.107302
Johnson High School      64.713296
Pena High School         94.178794
Rodriguez High School    51.412853
Shelton High School      88.131743
Thomas High School       65.871560
Wilson High School       90.932983
Wright High School       92.444444
dtype: float64

In [48]:
#create a df to hold the final results 
School_summary_df = pd.DataFrame({
    "School Name": dist_pass_per.index,
    "Type": ["type"],
    "Total Students": [group_students],
    "Total School Budget": [budget_total],
    "Per Student Budget": [budget_per_stu],
    "% Passing Math": [per_passing_math],
    "% Passing Reading": [per_passing_read],
    "% Overall Passing": [dist_pass_per]
})

School_summary_df

ValueError: arrays must all be same length

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [49]:
group_students.index

Index(['Bailey High School', 'Cabrera High School', 'Figueroa High School',
       'Ford High School', 'Griffin High School', 'Hernandez High School',
       'Holden High School', 'Huang High School', 'Johnson High School',
       'Pena High School', 'Rodriguez High School', 'Shelton High School',
       'Thomas High School', 'Wilson High School', 'Wright High School'],
      dtype='object', name='school_name')

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208